.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  .container-second{
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    padding: 2rem;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  h1 {
    font-size: 1.8rem;
    text-align:start;
    margin-bottom: 16px;
  }
  h2{
    margin: 0px;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: 24px;
    color: rgb(17 24 39);
  }
  
  button {
    display: block;
    margin: 16px;
    padding: 8px 16px;
    background-color: #e5e7eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:end;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

   p .tex-2{
    font-size: .575rem;
    --tw-text-opacity: 1;
    color: rgb(170, 172, 176);
    line-height: 1.25rem;
    }
  .card p:last-of-type {
    --tw-text-opacity:1;
   color: rgb(34 197 94 / var(--tw-text-opacity,1)) ;
  }
  
  button:hover {
    background-color: #e5e7eb;
  }
  
  select {
    display: block;
    margin: 16px 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    text-align: center;
  }
  
  .line-chart-container {
    width: 100%;
    height: 400px;
    margin-top: 24px;
  }
  
  .dark-mode {
    background-color: #121212;
    color: white;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: black;
  }
  .content-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-part{
    margin: 0px;
    flex: 1;
    display: flex;
    gap:10px;

  }
  .second-part{
    flex: 1;

  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .container {
      padding: 8px;
    }
    .content-main
    {
      display: block;
      width: 100%;
    
    }
    h1 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 0.9rem;
      margin-bottom: 16px;
    }
  
    button {
      font-size: 0.9rem;
      padding: 6px 12px;
    }
  
    select {
      width: 90%;
      margin: 8px auto;
      font-size: 0.9rem;
      margin-bottom: 5rem;
    }
  
    .line-chart-container {
      height: 300px; /* Adjust chart size for smaller screens */
    }
  }
  